<div class="previews row">
  <div class="me">

  </div>
  <div class="others">

  </div>
  {{ui/icon-button
      class="start-video"
      rightIcon="video-camera"
      click=(action startVideo)}}
</div>
