&
  background: dope-blue
  margin-bottom: 1em

.content
  padding: 1em

.english
  font-size: 1.3em
  margin-bottom: 1em
  color: white
  height: 1.3em

textarea
  resize: none
  font-weight: 600
  font-size: 1.6em
  height: 1.6em
  width: 15em
  border: 0
  padding: 0.35em
  color: rgba(slate, 0.75)
  background: rgba(white, 0.75)

.status
  background: rgba(white, 0.7)
  font-size: 2em
  font-weight: 700
  height: 2em

  .incorrect
    color: hot-pink

  .correct
    color: dope-blue
