&
  position: relative
  z-index: 1000

.uiContainer
  position: fixed
  top:0
  right:0
  background: #FF2857
  width: 100%
  justify-content: space-between
  display: flex
  padding: 1em
  +below(540px)
    flex-direction: column

.home-button
  color: off-white

.leftContainer
  margin-left: 2em
  +below(540px)
    flex-direction: column
    margin-left: 0

.btn
  margin-right: 1em
  border-radius: 3px
  +below(540px)
    margin: 1em 0

.btn:last-child
  margin-right: 0
  +below(540px)
    margin: 1em 0

.copy-btn
  margin-right: 0
  border-radius: 3px
  +below(540px)
    margin: 0
