<div class="uiContainer">
  <div class="row leftContainer">
    {{ui/icon-button
        class="home-button"
        label="Home"
        click=navigateHome}}

    <!-- {{#copy-button
      clipboardText=shareLink}}
      {{ui/icon-button
          label="Copy share link"
          rightIcon="clipboard"}}
    {{/copy-button}} -->
  </div>
</div>
