&
  cursor: pointer
  align-items: center
  justify-content: center
  padding: 0.5rem
  background: #F8F9F2

&:active
  opacity: 0.5

.label
  font-size: 1rem

.spacer
  margin-right: 0.5rem

.iconContainer
  font-size: 0.5rem
  align-items: center
  justify-content: center

.content
  padding: 0 1em
