&
  background: dark-orange
  color: #2E282A
  min-width: 18em
  width: 18em
  margin: 0.5em

.inputContainer
  margin-left: 1em
  margin-right: calc(1em + 0.25em)

textarea
  width: 100%
  resize: none
  font-weight: 600
  font-size: 1em
  margin-bottom: 0.5em
  border: 0
  padding: 0.25em
  background: rgba(white, 0.75)

.fieldsContainer
  // margin: 0.5em

  +below(700px)
    flex-direction: column

header
  background: rgba(white, 0.5)
  align-items: baseline
  margin-bottom: 1em
  .delete
    background: none
    margin: 0
    padding: 0.5em

  .index
    margin-left: 0.5em
    font-size: 1.25em

.audioUiContainer
  justify-content: flex-end
  margin: 1em

hr
  border: 1px solid rgba(white, 0.5)
