<header>
  <div class="index">
    {{index}}.
  </div>
</header>

<div class="row fieldsContainer">
  {{one-way-textarea model.chinese
      update=(action (mut model.chinese))
      onblur=(action saveModel model)
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck=false}}

  {{one-way-textarea model.pinyin
      update=(action 'processChange')
      onblur=(action saveModel model)
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck=false}}

  {{one-way-textarea model.english
      update=(action (mut model.english))
      onblur=(action saveModel model)
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck=false}}
</div>
